In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data.csv')
data

          Date  Comparison_Type
0     20200101              139
1     20200102               61
2     20200103               19
3     20200104                7
4     20200105                7
...        ...              ...
1456  20231227                0
1457  20231228                0
1458  20231229                0
1459  20231230                0
1460  20231231                0

[1461 rows x 2 columns]

In [4]:
for i in range(len(data)):
    if(data['Comparison_Type'][i]>1):
        data['Comparison_Type'][i] = np.log2(data['Comparison_Type'][i])
data

          Date  Comparison_Type
0     20200101         7.118941
1     20200102         5.930737
2     20200103         4.247928
3     20200104         2.807355
4     20200105         2.807355
...        ...              ...
1456  20231227         0.000000
1457  20231228         0.000000
1458  20231229         0.000000
1459  20231230         0.000000
1460  20231231         0.000000

[1461 rows x 2 columns]

In [5]:
data.to_csv('data3.csv', index=False)

In [6]:
np.max(data['Comparison_Type'])

8.909893083770042